
body {
  max-width: 960px;
  margin: 0 auto;
}

.bar {
  color : #428b43;
  width: 640px;
  margin: 0px auto;
  margin-top: 100px;
  background-color: #def0d8;
  padding: 5px;
  display: none;
}

.container{
  position: relative;
  margin: 0px auto;
  max-width: 600px;
  display: flex;
  border: 1px solid black;
  padding: 20px;
}
input {
  margin: 5px auto;
}
input[type='radio']{
  margin-left: 60px;
}
p { 
  margin: 0;
}
.far {
  font-size: 16px;
}

img {
  width: 300px;
  height: 300px;
  margin-left: 20px;
}
#close{
  float: right;
  background-color: #def0d8 ;
  border: none;
  color:  #428b43;
  cursor: pointer;

}
#btn {
  position: absolute;
  bottom: 30px;
  left: 220px;
  padding: 7px;
  color: white;
  background-color: #0790ab;
  border-radius: 3px;
  cursor: pointer;
  
}

.redBorder {
  border : 2px solid red;
}